# General ignores
.zig-cache/
zig-out/
dist/
bundle/
node_modules/
.wrangler/

# Ignore all files by default
**/*

# unignore directories so we can unignore files within them
!*/
!*/**/

# base template
!_base/**/*
!.gitignore

# cloudflare template
!cloudflare/.gitignore
!cloudflare/package.json
!cloudflare/wrangler.jsonc
!cloudflare/app/main.ts
!cloudflare/type.d.ts
!cloudflare/README.md

# vercel template
!vercel/.gitignore
!vercel/.vercelignore
!vercel/package.json
!vercel/api/index.ts
!vercel/api/nodejs.ts
!vercel/vercel.json
!vercel/README.md
!vercel/type.d.ts

# starter template
!starter/.gitignore

# database-pg template
!database-pg/.gitignore
!database-pg/build.zig
!database-pg/build.zig.zon
!database-pg/README.md
!database-pg/app/Context.zig
!database-pg/app/db/**/*
!database-pg/app/main.zig
!database-pg/app/pages/page.zx

