# General ignores
.zig-cache/
zig-out/
dist/
bundle/
node_modules/
.wrangler/

# Ignore all files by default
**/*

# unignore directories so we can unignore files within them
!*/
!*/**/

# base template
!_base/**/*
!.gitignore

# cloudflare template
!cloudflare/.gitignore
!cloudflare/package.json
!cloudflare/wrangler.jsonc
!cloudflare/app/main.ts
!cloudflare/type.d.ts
!cloudflare/README.md

# vercel template
!vercel/.gitignore
!vercel/.vercelignore
!vercel/package.json
!vercel/api/index.ts
!vercel/api/nodejs.ts
!vercel/vercel.json
!vercel/README.md
!vercel/type.d.ts
!vercel/build.zig

# starter template
!starter/.gitignore

# database template
!database/.gitignore
!database/build.zig
!database/build.zig.zon
!database/README.md
!database/app/Context.zig
!database/app/db/**/*
!database/app/main.zig
!database/app/pages/page.zx


# node template
!node/.gitignore
!node/package.json
!node/README.md